.uw_video-embed {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.uw_video-embed iframe,
.uw_video-embed object,
.uw_video-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.uw_video-embed-link {
  margin-top: 5px;
}
